<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UHUB</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow card rounded-box ">

                <!-- left first card -->
                <div class="mb-7 bg-base-300 p-7 rounded-e-lg">
                    <h3 class="border-b">My Projects</h3>
                    <ul>
                        <li><a href="">Restaurant Management System</a></li>
                        <li><a href="">Medical Management System</a></li>
                        <li><a href="">Robotics Management System</a></li>
                    </ul>
                </div>
                <!-- left second card -->
                <div class="bg-base-300 mb-7 p-7 rounded-lg">
                    <h3 class="border-b">My Contribution</h3>
                    <ul>
                        <li><a href="">UPMS</a></li>
                        <li><a href="">Conditro</a></li>
                    </ul>
                </div>

        </div>
        <div class="divider lg:divider-horizontal">OR</div>
        <div class="grid w-3/5 flex-grow card bg-base-300 rounded-box place-items-center">content</div>
      </div>

    <div>

    </div>
</body>

</html>
